--extra-index-url https://download.pytorch.org/whl/cu118
torch>=2.1.0
transformers==4.16.2
pytorch_lightning<2.0.0
numpy<1.24.0
scipy
pandas
dataclasses==0.6
tqdm==4.61.2
pygtrie==2.4.2
sentencepiece
